<ion-header>
  <ion-toolbar>
    <!-- Verifica si editar es falso antes de mostrar el botón del menú -->
    <ion-buttons slot="start" *ngIf="!editar">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <!-- Bloque ngIf para mostrar el botón de retroceso si editar es true -->
    <ion-buttons slot="start" *ngIf="editar">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <div class="title-container">
      <ion-title class="title">{{ tituloVar }}</ion-title>
      <div class="img-logo-container" *ngIf="tituloVar !== 'Inicio'">
        <img src="assets/icon/abbott_icon.png" width="25px">
      </div>
    </div>
  </ion-toolbar>
</ion-header>
