<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="assets/img/logo_grande.png" class="logo-img" alt="Logo" />
  </div>

  <ion-item lines="none">
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="loginData.email"></ion-input>
  </ion-item>
  
  <ion-item lines="none">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="loginData.password"></ion-input>
  </ion-item>

  <p>Entorno: {{ mode }}</p>

  <ion-button expand="block" (click)="doLogin()" class="login-btn">Iniciar sesión</ion-button>
</ion-content>
