<app-header [tituloVar]="tituloVarLocal"></app-header>

<ion-content>
  <ion-button expand="full" color="primary" (click)="openModal()">
    <ion-icon name="person-add" slot="start"></ion-icon>
    {{ selcli ? selcli.nombre : 'Buscar Cliente' }}
  </ion-button>
  
  <ion-button expand="full" color="primary" (click)="nuevaVenta()">
    <ion-icon name="cube" slot="start"></ion-icon>
    Nuevo Pedido
  </ion-button>

  <ion-button expand="full" color="primary" (click)="verCliente()">
    <ion-icon name="eye" slot="start"></ion-icon>
    Ver Cliente
  </ion-button>
<div>
  <ion-list *ngIf="verpedidos" class="ion-no-padding">
    <ion-item class="titulo_tabla" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="2">Nº</ion-col>
          <ion-col size="4">Fecha</ion-col>
          <ion-col size="4">Monto</ion-col>
          <ion-col size="2">Confir.</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  
    <ion-item *ngFor="let item of ventas" (click)="ventaSeleccionada(selcli.id, item.id)" class="lista" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="2">{{ item.numero_interno }}</ion-col>
          <ion-col size="4">{{ item.fecha | date:'dd-MM-yyyy' }}</ion-col>
          <ion-col size="4">${{ item.monto_total | comma2decimal }}</ion-col>
          <ion-col size="2">
            <ion-icon *ngIf="setEstadoPedido(item.estado)" name="checkmark-circle" color="success"></ion-icon>
            <ion-icon *ngIf="setEstadoPedido2(item.estado)" name="close-circle" color="danger"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</div>
  
  

  <ion-button expand="full" color="primary" (click)="loadNextPage()" *ngIf="verpedidos">
    <ion-icon name="arrow-down" slot="start"></ion-icon>
    Carga más
  </ion-button>  
</ion-content>
