/* Estilo para la marca */
.brand {
    font-size: 20px; /* Tamaño de fuente más grande */
    font-weight: normal; /* Texto en negrita */
  }
  
  /* Estilo para el separador */
  .separator {
    margin: 0 10px; /* Espacio entre "Abbott" y "::" */
  }
  
  /* Estilo para el subtítulo */
  .subtitle {
    font-size: 16px; /* Tamaño de fuente más pequeño */
    font-weight: normal; /* Texto normal */
    font-style: italic;
  }
  