ion-datetime {
    --min-height: auto;
  }
  
  ion-item {
    --inner-padding-bottom: 10px;
    --inner-padding-top: 10px;
  }
  
  ion-input, ion-select, ion-datetime {
    width: 100%;
  }
  ion-datetime-button::part(native) {
    background: #ffffff00;
}