<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ es_nuevo ? 'Nueva Entrega' : 'Ver Entrega' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ng-container *ngIf="es_nuevo; else viewMode">
      <ion-item>
        <ion-label position="stacked">Tipo Despacho</ion-label>
        <ion-select [(ngModel)]="seldespacho" (ionChange)="seleccionaDespacho(seldespacho)">
          <ion-select-option *ngFor="let despacho_clase of despacho_clases" [value]="despacho_clase.id">{{ despacho_clase.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ng-container>
    <ng-template #viewMode>
      <ion-item>
        <ion-label position="stacked">Tipo Despacho</ion-label>
        <ion-input readonly>{{ seldespacho }}</ion-input>
      </ion-item>
    </ng-template>

    <ng-container *ngIf="tiene_despacho">
      <ion-item>
        <ion-label position="stacked">Dirección de despacho</ion-label>
        <ion-select [(ngModel)]="selsucursal" (ionChange)="seleccionaSucursal(selsucursal)" [disabled]="!es_nuevo">
          <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">{{ sucursal.direccion }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="es_nuevo; else viewMode2">
      <ion-item>
        <ion-label position="stacked">Contacto</ion-label>
        <ion-select [(ngModel)]="selcontacto" (ionChange)="seleccionaContacto(selcontacto)">
          <ion-select-option *ngFor="let contacto of contactos" [value]="contacto.id">{{ contacto.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ng-container>
    <ng-template #viewMode2>
      <ion-item>
        <ion-label position="stacked">Contacto</ion-label>
        <ion-input readonly>{{ selcontacto }}</ion-input>
      </ion-item>
    </ng-template>

    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime-button datetime="datetime" *ngIf="es_nuevo"></ion-datetime-button>
      <ion-input *ngIf="!es_nuevo" readonly>{{ fecha_entrega | date: 'dd-MM-yyyy' }}</ion-input>
    
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="datetime"
            presentation="date"
            [(ngModel)]="fecha_entrega"
            [firstDayOfWeek]="1"
            [formatOptions]="{
              date: {
                weekday: 'long',
                month: 'long',
                day: '2-digit',
              },
            }"
          ></ion-datetime>
          <ion-button slot="start" (click)="closeModal()">Aceptar</ion-button>
        </ng-template>
      </ion-modal>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Observación</ion-label>
      <ion-input type="text" [(ngModel)]="observacion" [readonly]="!es_nuevo" required></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-label><b>Productos</b></ion-label>
    </ion-item-divider>

    <div *ngIf="es_nuevo">
      <ng-container *ngFor="let item of nuevaEntrega; let i = index">
        <ng-container *ngIf="i !== 0">
          <ion-row style="border-top: 1px solid #ccc;"></ion-row>
        </ng-container>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Código</ion-label>
              <ion-input type="text" [(ngModel)]="item.codigo" [readonly]="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Cantidad</ion-label>
              <ion-input type="number" min="0" [(ngModel)]="item.cantidad" (ionChange)="updCantidad(item.cantidad, item.id)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="stacked">Máximo Disponible</ion-label>
              <ion-input type="text" [value]="calcularMaximo(item.id)" disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: 1px solid #3880ff;"></ion-row>
      </ng-container>
    </div>

    <div *ngIf="!es_nuevo">
      <ng-container *ngFor="let item of posiciones">
        <ion-item>
          <ion-label position="stacked">Código</ion-label>
          <ion-input type="text" readonly>{{ item.codigo }}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Cantidad</ion-label>
          <ion-input type="text" readonly>{{ item.cantidad_entregada | comma2decimal }}</ion-input>
        </ion-item>
        <ion-row style="border-bottom: 1px solid #3880ff;"></ion-row>
      </ng-container>
      <ion-button
        *ngIf="estado !== 'confirmado' && !es_nuevo"
        expand="block"
         color="danger"
        (click)="eliminarEntrega()"
        >
        <ion-icon name="close-circle" slot="start"></ion-icon>
        Eliminar Entrega
      </ion-button>
    </div>

    <ion-button *ngIf="es_nuevo" expand="block" color="primary" (click)="agregaEntrega()">
      <ion-icon name="archive" slot="start"></ion-icon>
      Agregar Entrega
    </ion-button>
  </ion-list>
</ion-content>
