<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agregar Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModalProducto()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Producto</ion-label>
      <ion-select [(ngModel)]="codprod" (ionChange)="selecProd(codprod)">
        <ion-select-option *ngFor="let material of materiales" [value]="material.codigo">{{ material.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="cantidad" (ionChange)="updCantidad(cantidad)" min="0" debounce="500"></ion-input>
    </ion-item>

    <ion-item *ngIf="(bonificacion && bonificacion > 0) && (!es_muestra)">
      <ion-label position="stacked">Unidades bonificación</ion-label>
      <ion-input type="number" [(ngModel)]="bonificacion" (ionChange)="updateTotal()" min="0" debounce="500"></ion-input>
    </ion-item>

    <ion-item *ngIf="!es_muestra">
      <ion-label position="stacked">Precio unitario</ion-label>
      <ion-input type="text" readonly value="${{ nprecio | comma2decimal }}"></ion-input>
    </ion-item>


    <ion-item *ngIf="!es_muestra">
      <ion-label position="stacked">Descuento (%)</ion-label>
      <ion-input type="number" [(ngModel)]="descuento" (ionChange)="updDescuento(descuento)" min="0" max="100" debounce="500"></ion-input>
    </ion-item>

    <ion-item *ngIf="!es_muestra && (descuento && descuento > 0)">
      <ion-label position="stacked">Total sin descuento</ion-label>
      <ion-input type="text" readonly value="${{ subtotal_pos | comma2decimal }}"></ion-input>
    </ion-item>

    <ion-item *ngIf="!es_muestra">
      <ion-label position="stacked">Total productos</ion-label>
      <ion-input type="text" readonly value="${{ total_pos | comma2decimal }}"></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" (click)="agregaProducto()">
      <ion-icon name="archive" slot="start"></ion-icon>
      Guardar Producto
    </ion-button>
  </ion-list>
</ion-content>
