.firstcolor{
	color: black; }


.titulo_tabla{
  background-color: #b6cff9;
  border-radius: 0px 25px 0px 0px !important;

}

.item-input input, .item-input textarea {

}

.bar-energized {
    color: #f4a435 !important;
    border-color: #2E9AFE !important;
    /* background-color: #2B2625!important; */
    background-color: #2E9AFE !important;
}

.bar-abbott {
	background-color: #387ef5 !important;
}


.background, .background .pane, .background .item, .background .item-complex .item-content {
	background-color: #387ef5 !important;
	color: #ffffff !important;
}

.item-select{
	border: 0px;
}

.spinner svg {
  width: 100px !important;
  height: 100px !important;
	fill: #0c60ee !important;
	background-color: inherit;
	stroke: white !important;
	border: 0px !important;
	margin: auto !important;
}

.loading-container .loading {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 15px;
}


.item-select2{
	border-color: #ddd;
	background-color: #fff;
	color: #444;
	position: relative;
	z-index: 2;
	display: block;
	margin: -1px;
	padding: 8px;
	border-width: 1px;
	border-style: solid;
	font-size: 16px;
}

.lista {
	padding: 8px !important;
}
.lista_row {
	padding: 0px !important;
}
.col-pedidos-2 {
    text-align: right !important;
}

.modal{
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  width: 100% ;
}

.item-select select{
	left: 0 !important;
	width: 100%;
}

ion-nav-view {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #ffffff !important;

}


.platform-ios .scroll-content {
	margin-top: 16px !important;
}

.bar.bar-stable {
    border-color: #387ef5;
    background-color: #387ef5;
    background-image: linear-gradient(0deg, #387ef5, #387ef5 50%, transparent 50%);
    color: white;
}

.bar.bar-stable .title {
    color: #ffffff;
}

.button-cancel{
	background-color: red;
}

.bar-stable .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 17px;
}

.img-loaded + ion-spinner {
 display:none;
}
// .center in my case to make the spinner at the center
.center{
 margin-left: auto;
 margin-right: auto;
 display: block;
}
