.home-container {
  text-align: center;

.logo-image {
  display: block;
  margin: 0 auto; /* Centra horizontalmente */
  max-width: 40%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  margin-top: 10px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 0px 70px
  white);
}

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .info {
    background-color: #5d98ffad;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(70, 69, 69);

    p {
      margin: 0;
      font-size: 16px;
      color: #333;
    }
  }
}

ion-footer {
  ion-toolbar {
    text-align: center;
  }
}
