<app-header [tituloVar]="tituloVarLocal" class="header"></app-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <!-- Reemplaza el texto con la etiqueta img -->
    <img src="assets/img/logo_grande.png" alt="Logo" class="logo-image">
    <div class="info">
      <p>Versión: {{ ver }}</p>
      <p>Usuario: {{ mail }}</p>
      <p>Entorno: {{ mode }}</p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
      <p style="max-width: 71%; margin-left: 10px;">© 2024 Todos los derechos reservados</p>
      <img src="assets/img/logo_easysoft.png" width="200px" style="max-width: 29%;">
    </div>
  </ion-toolbar>
</ion-footer>

