<div class="modal" scroll="true">
  <header class="bar bar-header bar-positive">
    <button class="button back-button buttons no-text button-clear header-item" ng-click="closeModalFoto()"><i class="icon ion-ios-arrow-back"></i><span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span></button>
    <h1 class="title">Archivos Adjuntos</h1>
  </header>
  <ion-content delegate-handle="modalDireccionesContent" has-header="true" has-subheader="false" has-footer="false" overflow-scroll="true" scroll="true" on-refresh="onRefresh()" padding="true">
    <ion-list class="list">
      <ion-group>
        <!-- Elementos para tomar una foto -->
      </ion-group>
    </ion-list>
    <br>
    <br>
  </ion-content>
</div>
